<% content_for :content do %>
  <div class="card text-white bg-secondary">
    <h5 class="card-header">Modification <%= @pet.name %></h5>
    <div class="card-body">
      <%= render 'form', pet: @pet %>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/profile' %>
